
/.vs/*
/UserStore.DAL/bin
/UserStore.DAL/obj
/UserStore.BLL/bin
/UserStore.BLL/obj
/UserStore.WEB/bin
/UserStore.WEB/obj
/UserStore2/bin
/UserStore2/obj
/packages/
/ParserService/
/GUI/bin
/GUI/obj
/TstApplication/
*.ico
TmpScripts.sql
*.txt
*.exe